.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffc400;
  padding: 1rem 2rem; 
  height: 10vh; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.logo-image {
  width: 14vh;
  height: 14vh; 
  object-fit: cover;
  border-radius: 50%; 
}
.logo {
  display: flex;
  align-items: center;
  font-size: 1.5rem; /* Increased font size for better readability */
  font-weight: bold;
  color: white;

  a {
    text-decoration: none;
    color: inherit; /* Ensures the link inherits color from the logo */
    transition: color 0.3s ease; /* Smooth hover transition */

    &:hover {
      color: #ffd700; /* Subtle color change on hover */
    }
  }
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1.5rem; /* Adjusted gap for better spacing between links */
  margin: 0; /* Ensures no unwanted margin from parent container */
  padding: 0;

  a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1rem;

    &:hover {
      color: #ffb700; 
      
    }
  }
}

/* Responsive Design */
@media (max-width: 768px) {
  .header {
    flex-direction: column;
    height: auto; /* Adjust height for better stacking */
    padding: 1rem;
  }

  .nav-links {
    flex-direction: column;
    gap: 1rem; /* Reduced gap for smaller screens */
    align-items: center;
  }
}

@media (max-width: 480px) {
  .logo {
    font-size: 1.2rem; /* Slightly smaller logo text for compact screens */
  }

  .nav-links a {
    font-size: 0.9rem; /* Adjusted font size for better fit on small devices */
  }
}
