.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    position: relative;
    width: 80%;
    max-width: 450px;
    position: relative;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    animation: scaleUp 0.4s ease-in-out;
  }
  
  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: red;
    color: white;
    border: none;
    border-radius: 50%;
    font-size: 18px;
    padding: 5px;
    cursor: pointer;
  }
  
  .booking-form input,
  .booking-form button {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
  }
  
  .booking-form button {
    background-color: #ffc4008c;
    color: white;
    cursor: pointer;
    border: none;
  }
  
  .booking-form button:hover {
    background-color: #ffc400b6;
  }
  